<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DevelopMode</key>
	<string>$(DEVELOP_MODE)</string>
	<key>LoggingEnabled</key>
	<string>$(LOGGING_ENABLED)</string>
	<key>MockEnabled</key>
	<string>$(MOCK_ENABLED)</string>
	<key>Testing</key>
	<string>$(TESTING)</string>
	<key>UIAppFonts</key>
	<array/>
</dict>
</plist>
