<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DevelopMode</key>
	<string>$(DEVELOP_MODE)</string>
	<key>LoggingEnabled</key>
	<string>$(LOGGING_ENABLED)</string>
	<key>MockEnabled</key>
	<string>$(MOCK_ENABLED)</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Used to add preparation reminders to your Calendar.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Used to add preparation reminders to your Calendar.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Used to schedule preparation reminders.</string>
	<key>PaywallActive</key>
	<string>$(PAYWALL_ACTIVE)</string>
	<key>ProLifetimeProductId</key>
	<string>$(PRO_LIFETIME_PRODUCT_ID)</string>
	<key>ProSubscriptionProductId</key>
	<string>$(PRO_SUBSCRIPTION_PRODUCT_ID)</string>
	<key>SentryDns</key>
	<string>$(SENTRY_DNS)</string>
	<key>Testing</key>
	<string>$(TESTING)</string>
	<key>RecipeVolumeMaxLiters</key>
	<string>$(RECIPE_VOLUME_MAX_LITERS)</string>
	<key>RecipeVolumeMinLiters</key>
	<string>$(RECIPE_VOLUME_MIN_LITERS)</string>
	<key>UIAppFonts</key>
	<array/>
</dict>
</plist>
