//
//  DebugConfig.xxconfig
//  OfficeDodge
//
//  Created by Antonio Ruffolo on 12/11/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

MOCK_ENABLED = NO
LOGGING_ENABLED = YES
DEVELOP_MODE = YES
APP_BUNDLE_ID = com.officedodge.app
APP_DEVELOPMENT_TEAM =
APP_PROVISIONING_PROFILE_SPECIFIER =

PRODUCT_NAME = OfficeDodge
INFOPLIST_KEY_CFBundleDisplayName = Office Dodge

#include? "LocalSigning.xcconfig"
